<div class="profile-container-header">
  <h1>REGISTER PERSONAL INFORMATION</h1>
</div>
<div class="profile-container-contain">
  <div class="form-group">

    <form (submit)="postulantData">
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Put their names</mat-hint>
        <input matInput matAutosizeMinRows=4 required name="name" [(ngModel)]="postulantData.firstname" placeholder="Names">
      </mat-form-field>
    </form>
    <form (submit)="postulantData" >
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Put your last names</mat-hint>
        <input matInput matAutosizeMinRows=4 required name="name" [(ngModel)]="postulantData.lastname"   placeholder="Surnames">
      </mat-form-field>
    </form>
    <form >
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Place your Identity Document</mat-hint>
        <input matInput matAutosizeMinRows=4  name="document" type="number"   required [(ngModel)]="postulantData.document"  placeholder="DNI">
      </mat-form-field>
    </form>
    <form >
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Put your phone number</mat-hint>
        <input type="email" matInput matAutosizeMinRows=4 name="telefono"  type="number" required [(ngModel)]="postulantData.number" placeholder="Phone number">
      </mat-form-field>
    </form>

    <form >
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Enter your marital status</mat-hint>
        <input matInput matAutosizeMinRows=4 required name="estadocivil" [(ngModel)]="postulantData.civil_status" placeholder="Marital status">
      </mat-form-field>
    </form>
    <form >
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Put your email</mat-hint>
        <input matInput matAutosizeMinRows=4 name="email" type="email" required [(ngModel)]="postulantData.email"   placeholder="Email">
      </mat-form-field>
    </form>
    <form >
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Enter your password</mat-hint>
        <input matInput matAutosizeMinRows=4 required name="password" type="password" [(ngModel)]="postulantData.password" placeholder="Password">
      </mat-form-field>
      <input  (click)="AddPostulant()"  class="mat-focus-indicator mat-button mat-button-base" value="Save Changes">
    </form>

  </div>
</div>
