<app-main-nav-employeer>
  <div class="account-container-header">
    <h1>MY ACCOUNT</h1>
  </div>

  <div class="account-container-content">
    <div>

      <button mat-raised-button class="mat-focus-indicator mat-button mat-button-base" [routerLink]="['/employeer/',employeerId,'modify-personal-information-employeer']">Modify Personal Information</button>
      <button mat-raised-button class="mat-focus-indicator mat-button mat-button-base" [routerLink]="['/employeer/',employeerId,'modify-company-profile']">Modify Business Profile</button>
    </div>
  </div>
</app-main-nav-employeer>
