.head{
  padding: 10px;
  text-align: center;
  color: #1955AE;
}
.content{
  display: flex;
  text-align: center;
  padding: 1rem;
}

.content > mat-card {
  height: auto;
  margin: auto;
}
.img-logo{
  padding: 10px;
  width: 60%;
}

.but{
  padding: 30px;
}

.btn-opcion{
  width: 60%;
  padding: 5px;
}

.divider{
  background-color: #1955AE;
  width: 3px;
  align-self: center;
  height: 400px;
}

@media (max-width: 640px) {
  .content{
    display: block;
    border:0;
    margin: auto;
  }
  .divider{
    height: 0px;
  }
}
