<div class="head">
  <h1><b>Choose your path!<br><br> Be part of the great Jobag community, apply or search for your ideal applicant! </b></h1>
</div>
<div class="content">
  <mat-card class="mat-elevation-z4">
    <img class="img-logo" src="../../../../assets/images/postulante.png">
    <br>
    <div class="but">
      <button class="btn-opcion"  [routerLink]="['/postulant/new']" mat-raised-button color="primary">Postulant</button>
    </div>
    <br>
  </mat-card>
  <mat-divider vertical class ="divider"></mat-divider>
  <br> <br>
  <mat-card class="mat-elevation-z4">
    <br>
    <img class="img-logo" src="../../../../assets/images/empleador.png">
    <br>
    <div class="but">
      <button  class="btn-opcion"  [routerLink]="['/employeer/new']" mat-raised-button color="primary">Employer</button>
    </div>
  </mat-card>
</div>

