
<mat-card-content class="">
  <mat-card-title> PROFESSIONAL PROFILE </mat-card-title>


  <p>
    <mat-form-field appearance="outline">
      <mat-label></mat-label>
      <input matInput placeholder="Personal description">

      <mat-hint>Personal description</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label></mat-label>
      <input matInput placeholder="Work experience">

      <mat-hint>Work experience</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label></mat-label>
      <input matInput placeholder="Studies">

      <mat-hint>Studies</mat-hint>
    </mat-form-field>

  </p>

  <mat-form-field class="example-chip-list">
    <mat-label>Favorite Languages</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let lenguaje of lenguages " [selectable]="selectable"
                [removable]="removable" (removed)="remove(lenguaje)">
        {{lenguaje.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="New fruit..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
  <app-uploudfiles> </app-uploudfiles>
</mat-card-content>
