<div class="profile-container-header">
  <br>
  <br>
  <h1>CHANGE PASSWORD</h1>

</div>

<div class="profile-container-contain">
  <div class="form-group">
    <form >
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Put your email</mat-hint>
        <input matInput matAutosizeMinRows=4 required name="name" [(ngModel)]="emailexist" placeholder="Email">
      </mat-form-field>
    </form>
    <form >
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Enter your password</mat-hint>
        <input matInput matAutosizeMinRows=4 required name="name" [(ngModel)]="passwordexist" placeholder="Password">
      </mat-form-field>
    </form>
    <form  >
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Put new password</mat-hint>
        <input matInput matAutosizeMinRows=4 required name="name" [(ngModel)]="newpassword"   placeholder="New Password">
      </mat-form-field>
    </form>
    </div>
  <input  (click)="getAllUsers()" class="mat-focus-indicator mat-button mat-button-base" value="Save Changes">
</div>
