<section style="background-color: #acc9f6">

  <div class="container vh-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-10">
        <div class="card" style="border-radius: 1rem; background-color: white">
          <div class="row g-0">
            <div class="col-md-5 d-none d-md-block">
              <img src="./assets/Login_Imagen.png"
                   alt="login form" class="img-fluid" style="border-radius: 1em; width: 100%; height: 100%" />
            </div>

            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-1 p-lg-5 text-black form-container">

                <form class="form-horizontal">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <img src="./assets/Logo_Jobag.png" style="height: 100px; margin-left: 40%">
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-group">

                    <div  class="input-group">
                      <span style="border: 0; background-color: transparent" class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                      <label style="margin-top: 1.5%">Email</label>
                    </div>
                    <input
                      type="email"
                      name="email" #email
                      placeholder="example@example.com"
                      class="form-control"
                      required="required">
                    <br/>
                  </div>

                  <div class="form-group">

                    <div  class="input-group">
                      <span style="border: 0; background-color: transparent" class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                      <label style="margin-top: 1.5%">Password</label>
                    </div>

                    <input
                      type="password"
                      name="password" #password
                      placeholder="******"
                      class="form-control"
                      pattern="[A-Za-z0-9]{6,20}">
                    <br/>

                    <button type="button" class="btn btn-default" (click)="logIn()">
                      Iniciar Sesión
                    </button>
                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p style="color: #393f81;">Don't have an account?
                      <a href="/choosePostulantOrEmployeer" style="color: #393f81;">Register here</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
